<div class="container">
  <p>&nbsp;</p>
  <h1>Ürünler</h1>

  <mat-form-field appearance="outline">
    <input matInput placeholder="Aranacak bir değer giriniz" (keyup)="Filtrele($event)" >
  </mat-form-field>

  <button mat-fab matTooltip="Ürün ekle" color="primary" (click)="Ekle()">
    <mat-icon aria-label="label">add_shopping_cart</mat-icon>
  </button>


  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">  
    <ng-container matColumnDef="urunAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ürün adı </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.urunAdi }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="urunKatId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Ürün'ün kayıtlı olduğu kategori ID
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.urunKatId }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="urunKatAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Ürün'ün kayıtlı olduğu kategori
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.urunKatAdi }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="urunFiyat">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ürün fiyatı </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.urunFiyat }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
       
       
        <button mat-icon-button matTooltip="Kategorileri listele">
          <mat-icon aria-label="label" color="primary" >article</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="label" matTooltip="Ürünü Düzenle" (click)="Duzenle(kayit)">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="label" color="warn" matTooltip="Ürünü Sil" (click)="Sil(kayit)">delete</mat-icon>
        </button>
      
      
      </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons="">
  </mat-paginator>
</div>
